/* Colors definition*/

.black {
  color: black;
}

.gray {
  color: gray;
}

.grey {
  color: gray;
}

.silver {
  color: silver;
}

.white {
  color: white;
}

.maroon {
  color: maroon;
}

.red {
  color: red;
}

.magenta {
  color: magenta;
}

.fuchsia {
  color: fuchsia;
}

.pink {
  color: pink;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.lime {
  color: lime;
}

.green {
  color: green;
}

.olive {
  color: olive;
}

.teal {
  color: teal;
}

.cyan {
  color: cyan;
}

.aqua {
  color: aqua;
}

.blue {
  color: blue;
}

.navy {
  color: navy;
}

.purple {
  color: purple;
}

/* The table width fix to avoid scrollbar */
.wy-table-responsive table td {
  white-space: normal;
}

/* HIGHLIGHT COMMANDS IN OUTPUTS */

.highlight-command pre :nth-child(3) {
  color: black;
  font-weight: 600;
}

.highlight-command-6 pre :nth-child(6) {
  color: black;
  font-weight: 600;
}

.highlight-command-12 pre :nth-child(12) {
  color: black;
  font-weight: 600;
}

.highlight-command-15 pre :nth-child(15) {
  color: black;
  font-weight: 600;
}

.highlight-command-21 pre :nth-child(21) {
  color: black;
  font-weight: 600;
}

.highlight-command-24 pre :nth-child(24) {
  color: black;
  font-weight: 600;
}

.highlight-command-27 pre :nth-child(27) {
  color: black;
  font-weight: 600;
}

.highlight-command-28 pre :nth-child(28) {
  color: black;
  font-weight: 600;
}

/* HIGHLIGHT EMPHASIZE LINE IN OUTPUTS */

.emphasize-hll pre .hll {
  background-color: #ccfe99;
}

.emphasize-hll-blue pre .hll {
  background-color: #94c5f9;
}

.emphasize-hll-7 pre :nth-child(7) {
  background-color: #fecccc;
}

.emphasize-hll-8 pre :nth-child(8) {
  background-color: #94c5f9;
}

.emphasize-hll-32 pre :nth-child(32) {
  background-color: #94c5f9;
}

.emphasize-hll-34 pre :nth-child(34) {
  background-color: #fecccc;
}
